@import '~antd/dist/antd.css';

$tabletBreakpoint: 768px;
$mobileBreakpoint: 400px;

$color1: #FFC629;
$color2: #2d2a26;
$color3: #EAEAEA;
$activeColor: #0f0;
$inactiveColor: #666;
$reservedColor: #f00;
$alertColor: #c02138;
$color2b: #1b1916;
$font_bg_color1: #FFF;
$font_bg_color2: $color2;
